a {
  color:white;
}

img {
  height:30px;
  length:32px;
}

footer {
  background-color:grey;
}

.topnav {
  background-color: #57575b;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}
  
  .topnav a.active {
    background-color: #0000cc;
    color: white;
  }

.topnav-right {
  float: right;
}

body {
  font-family: Arial;
}

main {
  padding: 10px;
  margin: -20px;
}

.bg-img {
  background-image: url("https://github.com/NoobAndCoding/index.html/blob/main/pc%20for%20website%20home%20page.png?raw=true");

  height: 1440px;
  length: 2560px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  background-color: #57575b;
}
  

